body{
    background-color: black;
    clear: both;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo{
    height: 60px;
    width: 250px;
}
.nav-bar #search{
    width: 600px;
    position: relative;
}
.nav-bar .nav-buttons{
    font-size: large;
    float: left;
    font-style: normal;
    border-radius: 2px;
    background-color: brown;
}
.nav-buttons a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.main{
    background-image: url("../pics/keyboard.jpg");
    color: white;
}